@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', sans-serif;
}

container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-header,
.main-nav {
  display: flex;
  align-items: center;
}

.main-header {
  background: steelblue;
  color: #ccc;
  height: 65px;
  padding: 10px;
  justify-content: space-between;
}

h1 {
  margin: 10px;
  font-size: 36px;
  font-weight: 700;
}

.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav li a {
  display: block;
  padding: 5px 7px;
  margin: 5px;
  color: #fff;
  text-decoration: none;
}
.main-nav li a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.content {
  padding: 10px;
  flex-grow: 1;
}

footer {
  padding: 15px 10px 0px;
  color: #fff;
  background: steelblue;
}
